@import '~styles/variables';

.navbar {
  z-index: 1;
  width: 100%;
  padding: 0;
  height: $navbar-height;
  background-color: $navbar-background-color;
  box-shadow: $navbar-box-shadow;
}

.left-content {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.right {
  float: right;
  height: 100%;
  overflow: hidden;
  .action {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    i {
      color: #000;
      vertical-align: middle;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
}

.avatar {
  background-color: #b3daff;
  color: #006eff;
  font-size: 46px;
  margin-right: 12px;
}

.trigger {
  height: $navbar-height;
  padding: 22px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

.navbar-item {
  height: 100%;
  display: inline-block;
  line-height: $navbar-height;
  cursor: pointer;
  padding: 0 16px;
  transition: $generic-transition;
  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

.navbar-icon {
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
