@import '../../variables';

body {
  background-color: $background-color !important;
}

.form-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.login-page {
  height: 100vh;
  padding: 24px;
}
