@import '~styles/variables';
@import '~styles/mixins';

.sprova-sider {
  background-color: $primary-dark;
  color: $white;
  position: relative;
  grid-area: sidemenu;
  padding-left: $padding-lg;

  &-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: $margin-md 0;

    #sprova-logo {
      display: inline-block;
      height: calc(#{$navbar-height} / 2);
      vertical-align: middle;
      user-select: none;
    }

    #sprova-project-title {
      color: $sidemenu-color-light;
      display: inline-block;
      margin-left: $margin-md;
    }
  }

  &-menu {
    color: $sidemenu-color;
    display: flex;
    padding-right: $padding-lg;
  }
}
