@import '../../variables';

.clickable-card {
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 21, 41, 0.08);
  }
  margin-bottom: 16px;
}

.add-project-card {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
