@import '~styles/variables';
@import '~styles/mixins';

.sprova-layout {
  height: 100vh;
  display: grid;

  @include screen-xs {
    grid-template-columns: 1fr;
    grid-template-rows: $navbar-height 80px 1fr;
    grid-template-areas:
      'header'
      'sider'
      'page';
  }

  @include screen-sm {
    grid-template-columns: 1fr;
    grid-template-rows: $navbar-height 80px 1fr;
    grid-template-areas:
      'header'
      'sider'
      'page';
  }

  @include screen-lg {
    grid-template-columns: $sidemenu-width-default 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidemenu page';
  }
}
