@import '~styles/variables';
@import '~styles/mixins';

.sprova-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(50, 75, 95, 0.05),
    0 2px 4px 0 rgba(50, 75, 95, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  display: block;
  overflow: hidden;

  transition: all 0.1s;

  &.clickable {
    &:hover {
      // background-color: #e6f7ff;
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 0 0 1px rgba(50, 75, 95, 0.05),
        0 3px 4px 0 rgba(50, 75, 95, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    }
  }

  &-body,
  &-footer {
    &.is-padded {
      padding: $padding-md;
    }

    &.is-darker {
      background-color: #f7fafc;
    }
  }

  &-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: $padding-md;

    &-title {
      font-weight: 600;
    }
  }

  &-status-bar {
    height: 4px;
  }

  &.is-danger {
    .sprova-card-status-bar {
      background-color: rgb(190, 48, 48);
    }
  }

  &.is-info {
    .sprova-card-status-bar {
      background-color: $primary-color;
    }
  }

  &.is-success {
    .sprova-card-status-bar {
      background-color: rgb(22, 179, 7);
    }
  }

  &.is-warning {
    .sprova-card-status-bar {
      background-color: rgb(255, 189, 6);
    }
  }
}
