.page-header {
  margin-bottom: 24px;
  padding: 16px;
  .ant-card-body {
    padding: 0;
  }

  .header-title {
    color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    padding-right: 12px;
  }

  .header-title-sub {
    color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    font-size: 14px;
    line-height: 1.8;
  }

  .header-content,
  .header-tabs {
    margin-top: 12px;
  }

  .header-tabs {
    margin-bottom: -16px;

    .ant-tabs-bar {
      margin-bottom: 1px;
      border-bottom: 0;
    }
  }

  .nav-icon {
    display: inline-block;
    padding: 4px 0;
    font-size: 16px;
    line-height: 100%;
  }
}
