.toolbar {
    & > * {
        display: inline-block;
    }
    & > * + * {
        margin-left: 15px;
    }
    position: relative;
    padding: 1px 18px 17px;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}