@import '~styles/variables';
@import '~styles/mixins';

$timeout: 100ms;

.sprova-modal {
  z-index: 2000;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 600px) {
}

.sprova-modal-fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity $timeout, transform $timeout;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity $timeout;
  }
}

.sprova-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 7, 20, 0.2);
}

.sprova-modal-overlay-fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity $timeout;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity $timeout;
  }
}
