@import '~styles/variables';
@import '~styles/mixins';

.sprova-header {
  grid-area: header;
  background-color: white;
  padding: 0 $padding-lg;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;

  &-left {
    float: left;
    height: $navbar-height;
    .logo {
      height: 100%;
      overflow: hidden;
      line-height: $navbar-height;
      display: inline-block;
      transition: $transition-all;
      margin-right: $margin-xl;
      img {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
      }
      h1 {
        display: inline-block;
        margin: 0 0 2px 24px;
        color: rgb(34, 60, 77);
        font-weight: 600;
        font-size: 22px;
        font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        vertical-align: middle;
      }
    }
  }

  &-right {
    float: right;
    height: $navbar-height;
    .avatar {
      background-color: #b3daff;
      color: #006eff;
      font-size: 46px;
      margin-right: 12px;
    }
  }

  &-item {
    height: 100%;
    line-height: $navbar-height;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    padding: 0 $padding-lg;
    transition: $transition-all;
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
}
