@import '~styles/variables';
@import '~styles/mixins';

$avatar-background-color: #b3daff;
$avatar-color: darken($avatar-background-color, 30%);
$avatar-font-size: 2rem;

.sprova-header {
  background-color: $white;
  box-shadow: $navbar-box-shadow;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 0 $padding-lg;
  z-index: 1;

  &-item {
    cursor: pointer;
    display: inline-block;
    line-height: $navbar-height;
    overflow: hidden;
    padding: 0 $padding-lg;
    transition: $transition-all;

    &:hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
  }

  &-left {
    float: left;
    height: $navbar-height;

    .logo {
      display: inline-block;
      line-height: $navbar-height;
      overflow: hidden;
      transition: $transition-all;
      margin-right: $margin-xl;

      img {
        display: inline-block;
        height: calc(#{$navbar-height} / 2);
        vertical-align: middle;
      }
      h1 {
        display: inline-block;
        margin: 0 0 2px 24px;
        color: rgb(34, 60, 77);
        font-weight: 600;
        font-size: 22px;
        font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        vertical-align: middle;
      }
    }
  }

  &-right {
    float: right;
    height: $navbar-height;

    .avatar {
      background-color: $avatar-background-color;
      color: $avatar-color;
      font-size: $avatar-font-size;
      margin-right: $margin-sm;
    }
  }

  &-burger {
    @extend .sprova-header-item;
    font-size: 1.2rem;
    display: none;
  }

  @include screen-xs {
    padding-right: 0;
    &-item {
      display: none;
    }

    &-burger {
      display: inline-block;
    }
  }
}
