@import '~styles/variables';
@import '~styles/mixins';

.sprova-layout-header {
  grid-area: header;
  background-color: white;
  padding: 0 $padding-lg;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    .logo {
      height: $navbar-height;
      overflow: hidden;
      line-height: $navbar-height;
      display: inline-block;
      transition: all 0.3s;
      margin-right: $margin-xl;
      img {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
      }
      h1 {
        display: inline-block;
        margin: 0 0 0 24px;
        color: rgb(34, 60, 77);
        font-weight: 600;
        font-size: 22px;
        font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        vertical-align: middle;
      }
    }
  }

  .avatar {
    background-color: #b3daff;
    color: #006eff;
    font-size: 46px;
    margin-right: 12px;
  }

  .navbar-icon {
    color: white;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .navbar-item {
    height: 100%;
    display: inline-block;
    line-height: $navbar-height;
    cursor: pointer;
    padding: 0 $padding-lg;
    transition: $generic-transition;
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
}
