// Colors
$white: #fff;
$primary-color: #1890ff;

$background-color: #f0f2f5;
$background-color-hover: #f8fbfc;

$primary-dark: #273c4d;
$primary-darker: darken($primary-dark, 5%);

$navbar-height: 64px;
$navbar-background-color: rgb(0, 21, 41);
$navbar-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

// Generics
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$radius: 4px;
$border: 1px solid rgba(0, 0, 0, 0.1);
$border-light: 1px solid rgba(255, 255, 255, 0.1);
$transition-all: all 0.3s;

// Margins
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;

// Paddings
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;

// Screen Breakpoints
$screen-sm: 769px;
$screen-md: 1024px;
$screen-lg: 1216px;
$screen-xl: 1408px;

$sidemenu-width-default: 240px;
$sidemenu-color: #6d7a87;
$sidemenu-color-light: #d6e2ec;

$projectbar-width-default: 60px;
$projectbar-item-background: #6d7a87;
