@import '~styles/variables';
@import '~styles/mixins';

$item-size: calc(#{$projectbar-width-default} - 2 * #{$margin-md});

.sprova-projectbar-item {
  background-color: $projectbar-item-background;
  border-radius: $radius;
  cursor: pointer;
  line-height: $item-size;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s;

  &:not(:last-of-type) {
    margin-bottom: $margin-md;
  }

  &:hover {
    background-color: $primary-color;
  }

  &.is-selected {
    background-color: $primary-color;
    color: $white;
    font-weight: bold;
  }
}
