@import '~styles/variables';
@import '~styles/mixins';

$item-size: calc(#{$projectbar-width-default} - 2 * #{$margin-md});

.sprova-projectbar {
  background-color: $primary-darker;
  display: flex;
  flex-direction: column;
  grid-area: projectbar;
  justify-content: space-between;
  padding: $padding-md;
}
