$background-color: #f0f2f5;
$primary-color: #1890ff;

$navbar-height: 64px;
$navbar-background-color: white;
$navbar-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

$page-container-padding: 24px;
$generic-transition: all 0.3s;
